---
layout: layouts/forest.njk
title: Commonplace
description: Quotes, priors, maps. Evergreen, appended to rather than published.
collectionName: commonplace
permalink: /writing/commonplace/index.html
---
